body{
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Home*/

#home{
    background: linear-gradient(90deg, rgb(0, 219, 201) 50%, rgb(58, 211, 241) 100%);
    min-height: 500px;
}

/*Cards */

.card{
    transition: all 0.5s ease;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transform: scale(0.8);
}

/* Footer */

.footer{
    background: rgb(0,219,201);
    background: linear-gradient(90deg, rgb(0, 219, 201) 50%, rgb(58, 211, 241) 100%);
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 /* Animation Style */ 

 .section {
    transition: transform 1s, opacity 1s;
 }

